
<div class="flex flex-col md:flex-row justify-center py-20 px-4 md:px-20">
    <!---== First Stats Container ====--->
    <div class="md:pr-4 mb-4 md:mb-0">
        <div class="w-full md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-20 bg-red-400 flex items-center justify-between">
                <p class="mr-0 text-white text-lg pl-5">Kategoriler</p>
            </div>
            <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                <p>TOPLAM</p>
            </div>
            <p class="py-4 text-3xl ml-5"><%=kategori_sayisi%></p>
            <hr>
            <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400 py-4 ml-5">
                <% kategoriList.forEach(kategori => { %>
                    <li><%= kategori.kategori_ad %> <%=`(${kategori.test_sayisi || 0} adet)`%></li>
                <% }); %>
            </ol>
        </div>
    </div>
    <!---== First Stats Container ====--->

    <!---== Second Stats Container ====--->
    <div class="md:pr-4 mb-4 md:mb-0">
        <div class="w-full md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-20 bg-blue-500 flex items-center justify-between">
                <p class="mr-0 text-white text-lg pl-5">Testler</p>
            </div>
            <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                <p>TOPLAM</p>
            </div>
            <p class="py-4 text-3xl ml-5"><%=test_sayisi%></p>
            <hr class="mx-auto">
            <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400 py-4 ml-5">
                <% kategoriList.forEach(kategori => { %>
                    <li><%= kategori.kategori_ad %> <%=`(${kategori.test_sayisi || 0} adet)`%></li>
                <% }); %>
            </ol>
        </div>
    </div>
    <!---== Second Stats Container ====--->

    <!---== Fourth Stats Container ====--->
    <div class="md:pr-4">
        <div class="w-full md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-20 bg-purple-900 flex items-center justify-between">
                <p class="mr-0 text-white text-lg pl-5">Sorular</p>
            </div>
            <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
                <p>TOPLAM</p>
            </div>
            <p class="py-4 text-3xl ml-5"><%=soru_sayisi%></p>
        </div>
    </div>
    <!---== Fourth Stats Container ====--->
</div>

