<div class="container mx-autop p-8">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-8">
        <!-- Filtreleme Alanı -->
        <div class="mb-4">
            <label for="testFilters" class="block text-sm font-medium text-gray-700">Test Filtreleme:</label>
            <select id="testFilters" name="testFilters" onchange="filterTest(this.value)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mb-5 focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Lütfen bir test seçiniz..</option>

            </select>
        </div>
        <!-- TABLO START -->
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Soru ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Test ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Soru Metni
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Soru Açıklama
                    </th>
                    <th scope="col" class="px-6 py-3">
                        İşlemler
                    </th>
                </tr>
            </thead>

            <tbody id="tbody">
                <% dataList.forEach(data=> { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%=data.soru_id %>
                        </td>
                        <td class="px-6 py-4">
                            <%=data.test_id %>
                        </td>
                        <td class="px-6 py-4">
                            <% if (data.soru_metni.length> 100) { %>
                                <%= data.soru_metni.slice(0, 100) + '...' %>
                                    <% } else { %>
                                        <%= data.soru_metni %>
                                            <% } %>
                        </td>
                        <td class="px-6 py-4">
                            <% if (data.soru_aciklama.length> 100) { %>
                                <%= data.soru_aciklama.slice(0, 100) + '...' %>
                                    <% } else { %>
                                        <%= data.soru_aciklama %>
                                            <% } %>
                        </td>


                        <td class="px-6 py-4 flex space-x-3">
                            <a href="/admin/soru-duzenle/<%=data.soru_id %>"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Düzenle</a>
                            <svg id="<%=data.soru_id %>" onclick="deleteQuestion('<%=data.soru_id %>')"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6 text-red-700   rotate-0 hover:rotate-[30deg] transition-all">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>

                        </td>

                    </tr>

                    <% }) %>

            </tbody>
        </table>
        <!-- TABLO END -->
    </div>

</div>

<script src="/flowbite/flowbite.min.js"></script>
<script>
    function deleteQuestion(soru_id) {
        fetch(`/admin/delete-question/${soru_id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                createAlert("success", "Başarılı", "Soru başarıyla silindi.");

            })
            .catch(error => {
                console.error('Soru silinirken hata oluştu:', error);
                createAlert("error", "Hata", error).then(selectTest())
            });


    }

    function createAlert(icon, title, message) {
        this.title = title;
        this.icon = icon;
        this.message = message;

        Swal.fire({
            title: this.title,
            icon: this.icon,
            text: this.message
        })
    }
    function selectTest() {
        fetch('/admin/get-tests').then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
            .then(tests => {
                let filter = document.getElementById('testFilters');


                tests.forEach(test => {
                    var optgroup = document.createElement('optgroup');
                    optgroup.label = test.kategori_ad;

                    var option = document.createElement('option');
                    option.text = test.test_ad;
                    option.value = test.test_id;

                    optgroup.appendChild(option);
                    filter.appendChild(optgroup);
                });

            })


    }
    function filterTest(value) {
        fetch(`/admin/get-test/${value}`)
            .then(response => response.json())
            .then(dataList => {
                let tbody = document.querySelector("tbody");
                tbody.innerHTML = "";
                console.log("işlemi başarıyla gerçekleşti.")

                dataList.forEach(data => {
                    tbody.innerHTML += `
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      ${data.soru_id}
    </td>
    <td class="px-6 py-4">
      ${data.test_id}
    </td>
    <td class="px-6 py-4">
      ${data.soru_metni.length > 100 ? (data.soru_metni.slice(0, 100) + '...') : data.soru_metni}
    </td>
    <td class="px-6 py-4">
      ${data.soru_aciklama.length > 100 ? (data.soru_aciklama.slice(0, 100) + '...') : data.soru_aciklama}
    </td>

                <td class="px-6 py-4 flex space-x-3">
                    <a href="/admin/soru-duzenle/${data.soru_id}"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Düzenle</a>
                    <svg id="${data.soru_id}" onclick="deleteQuestion('${data.soru_id}')"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 text-red-700 rotate-0 hover:rotate-[30deg] transition-all">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </td>
            </tr>
        `;
                });
            })
            .catch(error => console.error("Fetch error:", error));

    }



    document.addEventListener("DOMContentLoaded", () => {
        selectTest();
    })
</script>